<table style="border-collapse: collapse;">
    <tr>
        <td style=" vertical-align: top;" align="center">
                <img src="/www/files/templates/pdf_receipt/logo.png" style="height: 80px">
        </td>
    </tr>
    <tr>
        <td style="padding: 1px; padding-bottom: 1.2cm;">
             <table style="width: 100%;  vertical-align: top">
                <tr>
                    <td style="width: 40%; font-weight: bold">Квитанція  №:</td>
                    <td style="border: 1px solid black; width: 60%; height: 18px; font-weight: bold; padding: 5px">{{Квитанція}}</td>
                </tr>
            </table>
            <hr>
            <table style="width: 100%;  vertical-align: top; ">
                <tr>
                    <td style="font-weight: bold">Отримувач:</td>
                </tr>
                <tr>
                    <td>{{Отримувач}}</td>
                </tr>
            </table>
            <hr>

            <table style="width: 100%;  vertical-align: top; " >
                <tr>
                    <td style="font-weight: bold">Платник:</td>
                </tr>
                <tr>
                    <td style="width: 30%; text-align: right; padding-right: 5px">Договор №</td>
                    <td style="width: 70%; font-weight: bold; border: 1px solid black; padding: 3px">{{Договор}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; text-align: right; padding-right: 5px">ФІП</td>
                    <td style="width: 70%; font-weight: bold; border: 1px solid black; padding: 3px; height: 45px">{{ФІП}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; text-align: right; padding-right: 5px">Отримано</td>
                    <td style="width: 70%; font-weight: bold; border: 1px solid black; padding: 3px">{{Отримано}} грн</td>
                </tr>
                <tr>
                    <td style="width: 30%; text-align: right; padding-right: 5px">Призначення платежу</td>
                    <td style="width: 70%; font-weight: bold; border: 1px solid black; padding: 3px">{{Призначення}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; text-align: right; padding-right: 5px">Провайдер</td>
                    <td style="width: 70%; font-weight: bold; border: 1px solid black; padding: 3px">{{Провайдер}}</td>
                </tr>
                <tr>
                    <td style="width: 30%; text-align: right; padding-right: 5px">Дата</td>
                    <td style="width: 70%; font-weight: bold; border: 1px solid black; padding: 3px">{{Дата}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>